<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <main class="container-fluid">
        <div class="container">
            <div class="row ppal">
                <div class="avatar col-lg-4">
                    <img src="/images/users/" alt="foto de perfil">
                </div>
                <div class="col-lg-6">
                    <section>
                        <article>
                            <h1><%= user.nombre %> <%= user.apellido %></h1>
                        </article>
                        <article class="datos">
                            <h2>Email: <%=user.email%></h2>
                            <h2>Contrasena: <%=user.contrasena%><h2>
                            <h2>Domicilio: </h2>
                            <h2>Ciudad: </h2>
                            <h2>Departamento: </h2>
                            <h2>Codigo Postal: </h2>
                        </article>
                        <article class="editar">
                            <input type="submit" value="Edite su perfil" class="btn btn-dark">
                        </article>
                    </section>
                </div>
            </div>
        </div>

    </main>






    <!--Footer-->
    <%- include('./partials/footer') %>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/32d4ddb813.js" crossorigin="anonymous"></script>
</body>

</html>